<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => Project %></h1>
</div>
<% user = Octokit.user current_user.username
   repos = user.rels[:repos].get.data 
 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th>Description</th>
      <th>Git url</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% repos.each do |repo| %>
      <tr>
        <td><%= repo.name %></td>
        <td><%= repo.description%></td>
        <td><%= repo.rels[:html].href%></td>
        <td><button class="btn btn-primary">Create Stack</button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_path,
            :class => 'btn btn-primary' %>
